@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #E5E7EB;
  padding: 80px 300px;
}

.quote .text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.quote .author {
  align-self: flex-end;
  font-size: 22px;
  font-weight: 700;
}