@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #E5E7EB;
  padding: 80px 300px;
}

.quote .text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
}

.quote .author {
  align-self: flex-end;
  font-size: 22px;
  font-weight: 700;
}

.cta {
  color: white;
  padding: 90px 180px;
}

.cta .container { 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  min-width: fit-content;
  background-color: #3882F6;
  border-radius: 10px;
  padding: 50px;
}

.cta .main {
  font-size: 22px;
  font-weight: 600;
}

.cta .secondary {
  font-weight: 300;
}

.cta button {
  align-self: center;
  min-width: max-content;
  height: min-content;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #3882F6;
  padding: 6px 30px;
  border: 2px solid #E5E7EB;
  border-radius: 10px;
}

@media screen and (max-width: 1053px) {
  .cta {
    padding: 20px;
    gap: 20px;
  }
}

@media screen and (max-width: 716px) {
  * {
    text-align: center;
  }

  .cta .container {
    padding: 20px 50px;
  }
}

.footer {
  background-color: #1F2937;
}