* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body, .hero, .header, .links, .hero > .container, .hero .text, .hero .container .image  {
  display: flex;
}

.hero {
  padding: 15px 180px 105px;
  gap: 75px;
}

.hero > .container {
  justify-content: space-between;
  gap: 75px;
}

body, .hero, .text {
  flex-direction: column;
}

.header {
  justify-content: space-between;
}

.hero, .footer {
  background-color: #1F2937;
}

.hero > .container .main {
  font-size: 48px;
  font-weight: 900;
}

.hero > .container .main, .logo {
  color: #F9FAF8;
}

.hero > .container .secondary, .header a {
  font-size: 18px;
  color: #E5E7EB;
}

.header a {
  text-decoration: none;
}

.links {
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo {
  font-size: 24px;
}

button {
  align-self: flex-start;
  color: white;
  background-color: #3882F6;
  font-size: 18px;
  font-weight: 900;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
}

.hero .text {
  width: 496px;
  gap: 10px;
}

.hero .container .image {
  flex: none;
  align-self: stretch;
  color: white;
  background-color: grey;
  justify-content: center;
  align-items: center;
  width: 460px;
}

.information .header, .quote .text {
  font-size: 36px;
  color: #1F2937;
}

.information .header {
  font-weight: 900;
}

.information .image {
  border: 5px solid #3882F6;
}

.quote {
  background-color: #E5E7EB;
}

.quote .text {
  font-weight: light italic;
}

.cta .container {
  background-color: #3882F6;
}